:root {
    /* Primary Color */
    --primary-100: #E5FCDC;
    --primary-200: #C7F9BB;
    --primary-300: #9EEC95;
    --primary-400: #76DB75;
    --primary-500: #4BC355;
    --primary-600: #36A74A;
    --primary-700: #258C40;
    --primary-800: #177137;
    --primary-900: #0E5D31;

    /* Danger Color */
    --danger-100: #FFE5D3;
    --danger-200: #FFC4A9;
    --danger-300: #FF9C7E;
    --danger-400: #FF765D;
    --danger-500: #FF3728;
    --danger-600: #DB1D1F;
    --danger-700: #B71423;
    --danger-800: #930C24;
    --danger-900: #7A0725;

    /* Grayscale - White */
    --white: #FFFFFF;
    --almost-white: #F6F6F6;
    --shaded-white: #DDDDDD;
    --dark-white: #CCCCCC;

    /* Grayscale - Gray */
    --silver: #BBBBBB;
    --pale-gray: #AAAAAA;
    --light-gray: #999999;
    --tinted-gray: #888888;
    --medium-gray: #777777;
    --shaded-gray: #666666;
    --dark-gray: #555555;

    /* Grayscale - Black */
    --pale-black: #444444;
    --light-black: #333333;
    --tinted-black: #222222;
    --almost-black: #111111;
    --black: #000000;

    --primary-color: #5160FC;
    --secondary-color: #FFFFFF;
    --dark-text: #333333;
    --light-text: #FFFFFF;
    --light-stroke: #FFFFFF;
    --secondary-text: #86949F;
    --primary-stroke: #99AAB8;
    --secondary-stroke: #C0CFDB;
    --background-color: #F7F7FF;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    height: auto !important;

}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.83em;
}

h6 {
    font-size: 0.67em;
}

.sidebar .list-menu {
    padding: 12px 14px;
    font-size: 12px;
    border-radius: 12px;
    color: var(--secondary-text);
    font-weight: 600;
    margin-bottom: 32px;
}

.sidebar .list-menu svg {
    color: var(--secondary-text);
}

.sidebar .list-menu.active {
    background-color: var(--primary-color);
    color: var(--light-text);
    font-weight: 900;
}

.sidebar .list-menu.active svg {
    color: var(--light-text);
}

.page-title {
    font-weight: 900;
}